POSTGRES_DB=catalogo_db
POSTGRES_USER=catalogo_user
POSTGRES_PASSWORD="Contraseña de la base de datos"
DB_PORT=5433

DB_URL=jdbc:postgresql://127.0.0.1:5433/catalogo_db
DB_USERNAME=catalogo_user
DB_PASSWORD="Contraseña de la base de datos"
JWT_SECRET="Clave secreta para firmar los JWT"
JWT_EXPIRATION="Tiempo de duración del token"
